body {
  margin: 0;
  font-family: Verdana;
}
a {
  text-decoration: none;
}
header {
  text-align: center;
}
header a, img {
  vertical-align: middle;
  display: inline-block;
  margin-top: auto;
}
header a {
  padding: 0 5px;
}

nav {
  margin: 0 20%;
  padding: 14px 0;
  height: 40px;
  text-align: center;
}


.right {
  float: right;
}
.left {
  float: left;
}
.button {
  color: white;
  width: 140px;
  height: 30px;
  padding-top: 10px;
}
.button p {
  margin: 8px;
}
.yellow {
  border: 1px solid rgb(233, 203, 84);
  background-color: rgb(241, 220, 134);
}

section {
  clear: both;
  position: relative;
  background-color: rgb(236, 236, 236);
}
.banner {
  height: 280px;
}
.hero {
  height: 100%;
}
.hero img {
  width: 100%;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  min-height: 280px;
}
.hero .hover {
  position: absolute;
  color: white;
  font-size: 40px;
  width: 100%;
  margin: 5% 0;
}
.hero p {
  text-align: center;
}

.form {
  padding: 45px;
  text-align: center;
}

.form input {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 400px;
  font-size: 20px;
  border: 2px solid rgb(214, 214, 214);
}
.form .btn-container {
  margin: 30px auto;
  width: 120px;
}
.form .button {
  background-color: rgb(53, 145, 207);
  height: 38px;
  padding-top: 16px;
}
footer {
  position: absolute;
  bottom: 0px;
  left: 47%;
}
footer p {
  font-size: 12px;
  color: gray;
}
@media (max-width: 900px) {
  nav {
    margin: 0;
  } 
}